@import 'utils/styles/colors';

.more_filters {
  padding: 12px 0;

  .options {
    padding: 4px 0;
    li {
      padding: 2px 0;
    }
  }
}

.check_control {
  display: block;
  position: relative;
  padding-left: 30px;
  height: 22px;
  cursor: pointer;
  user-select: none;
  line-height: 22px;
}

.check_control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: var(--color-white);
  border: 1px solid var(--color-blue-lighter);
  border-radius: 3px;
}

.check_control input:checked ~ .checkmark {
  background-color: var(--color-green-light);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check_control input:checked ~ .checkmark:after {
  display: block;
}

.check_control .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid var(--color-white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}