@import 'utils/styles/colors';

.loader_modal {
  z-index: 11;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-black);
}

.loader_content {
  position: absolute;
  top: calc(50% - 56px);
  left: calc(50% - 140px);
  width: 280px;
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 24px 32px;

  h2 {
    text-align: center;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
  }
}

.spinner {
  margin: 0 auto;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: var(--color-red);
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.spinner .bounce1 {
  background-color: var(--color-red);
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  background-color: var(--color-green-light);
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.5);
  } 40% { 
    transform: scale(1.0);
  }
}