@import 'utils/styles/colors';

.search_section {
  display: flex;
  padding: 16px;
}

.button_filter {
  width: 24px;
  height: auto;
  padding: 4px;
  margin-left: 8px;
  background: url('./assets/icon-sort-filters.svg') no-repeat center;
}

.input_section {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  border-radius: 3px;
  background-color: var(--color-gray-light);

  i {
    width: 14px;
    height: 14px;
    background-image: url('./assets/icon-search.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  input {
    padding: 0 8px;
    width: calc(100% - 48px);
    border: none;
    color: var(--color-black);
    background-color: var(--color-gray-light);

    &::placeholder {
      color: var(--color-white-smoke);
    }
  }
}

.counter {
  padding: 16px;
}