.dropdown {
  position: relative;
  cursor: pointer;
  ul {
    list-style: none;
  }
}

.dd_default {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .dd_label {
  }
}

.dd_icon_down {
  background-image: url('./assets/icon-dropdown.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 6px;
}

.dd_selection {
  position: absolute;
  background-color: #FFF;
  width: 100%;
  top: 0px;
  left: 0px;
  border-radius: 3px;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),
  0px 8px 10px 1px rgba(0,0,0,0.14),
  0px 3px 14px 2px rgba(0,0,0,0.12);
  min-width: 120px;
  max-height: 160px;
  overflow-y: auto;

  li {
    padding: 8px;
    line-height: 16px;
    font-weight: 500;

    .active, &:hover {
      background-color: rgba(0, 0, 0, 0.14);
    }
  }
}