@import 'utils/styles/colors';

.fac_tabs {
  padding: 8px 0;

  button {
    display: inline-block;
    margin-right: 8px;
    padding: 4px 12px;
    border-radius: 12px;
    border: solid 1px var(--color-gray-light);
    font-size: 1.2rem;
  }
  .active {
    background-color: var(--color-green-light);
    color: var(--color-white);
  }
}
