@import 'utils/styles/reset'; // TODO: replace with sanitize.css
@import 'utils/styles/colors';

:global {
  * {
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input[type=text], textarea {
    outline: none;
    line-height: inherit !important;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  h2, h3 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  html {
    height: 100%;
    font-size: 62.5%;
  }
  body {
    height: 100%;
    background: var(--color-white-smoke);
    color: var(--color-black);
    font: 1.4rem/1.5 system-ui;
  }
}

.app_container {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  height: auto !important;
  background: var(--color-white);
  max-width: 600px;
}