@import 'utils/styles/colors';

// .main_board {
//   padding: 16px 16px 44px;
//   background-color: var(--color-red);
//   color: var(--color-white);
//   text-align: center;
//   z-index: 1;

//   h1 {
//     padding-top: 8px;
//     font-size: 2rem;
//     font-weight: 800;
//   }

//   p {
//     padding: 8px 8px 32px;
//   }

//   img {
//     width: 100%;
//     @media screen and (min-width: 1200px) {
//       max-height: 320px;
//       object-fit: contain;
//     }
//   }
// }

// .features {
//   margin: 0 0 32px;
//   padding: 16px 12px;

//   h1 {
//     padding: 8px;
//   }
// }

// .feature_item {
//   padding: 40px 0;

//   h3 {
//     font-size: 1.6rem;
//     color: var(--color-red);
//     font-weight: 800;
//   }

//   p {
//     padding: 12px 0;
//   }

//   img {
//     padding: 0 0 24px;
//   }
// }

// .bullets_wrap {
//   display: flex;
//   justify-content: center;

//   button {
//     margin: 0 3px;
//     padding: 0;
//     width: 12px;
//     height: 12px;
//     outline: none;
//     background-color: var(--color-gray-light);
//     border-radius: 50%;
//   }

//   .active {
//     background-color: var(--color-red);
//   }
// }

// .features {
//   margin-top: 36px;
//   h1 {
//     font-size: 1.6rem;
//     font-weight: 600;
//   }
// }

.item_university {
  display: flex;
  align-items: flex-start;

  margin: 0 8px 8px 8px;
  padding: 8px;

  h2 {
    line-height: 1.6rem;
  }
}

.ahref {
  text-decoration: none;
  &:visited, &:link {
    color: inherit;
  }
}

.uni_image {
  width: 96px;
  overflow: hidden;
  
  img {
    width: 96px;
    border-radius: 4px;
  }
}

.uni_info {
  width: calc(100% - 96px);
  padding-right: 16px;
}

.international {
  font-size: 1rem;
  color: var(--color-blue-light);
  font-weight: 600;
  text-transform: uppercase;
}

.list_city {
  color: var(--color-white-smoke);
  padding-top: 6px;
  line-height: 16px;
}

.list_accr {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}

.expense {
  display: flex;
  align-items: center;

  img {
    padding: 2px;
    height: 16px;

    &:first-child {
      padding-left: 4px;
    }
  }
}

.list_facult {
  line-height: 1.8rem;
}

.see_all {
  padding-top: 4px;
  font-weight: 600;
  span {
    text-decoration: underline;
    color: var(--color-green-light);
    text-decoration-skip-ink: none;
  }
}