@import 'utils/styles/colors';

.home_wrapper {}

.header_board_1 {
  background: url('./assets/home_bg.jpg') no-repeat center;
  background-size: 100%;
}

.header_board_2 {
  background: url('./assets/home_bg1.jpg') no-repeat center;
  background-size: 100%;
}

.board_content {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100px;
  color: var(--color-white);

  .label_h {
    text-align: center;
  
    .label_left { color: var(--color-red) }
    .label_right { color: var(--color-white) }
  }

  p {
    padding: 10px 0;
    text-align: center;
  }
}

.search_section{
  display: flex;
  flex-direction: column;
  align-items: center;

  .search_h {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: var(--color-white);

    i {
      width: 14px;
      height: 14px;
      background-image: url('./assets/icon-search.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    input {
      padding: 0 8px;
      border: none;
      color: var(--color-black);
      line-height: 2rem;

      &::placeholder {
        color: var(--color-white-smoke);
      }
    }
  }
  button {
    margin-top: 12px;
    padding: 8px 0;
    width: 80%;
    background-color: var(--color-red);
    color: var(--color-white);
    border-radius: 3px;
  }
}

.featured_univ {
  padding: 8px 0 0 16px;

  .univ_header {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    font-weight: 600;
  
    a {
      color: var(--color-green-light);
      padding-bottom: 8px;
    }
  }
  
  .featured_slider_wrap {
    width: 100%;
    overflow-x: scroll;
  }

  .featured_slider {
    width: 125%;
    display: flex;
  }

  .ahref {
    position: relative;
    text-decoration: none;
    max-width: 200px;
    width: 35%;
    padding-right: 16px;

    h2 {
      position: absolute;
      bottom: 0;
      color: var(--color-white);
      padding: 8px;
      margin-right: 16px;
      background-color: #5647474d;
    }
  }

  .featured_wrap {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;

    img {
      height: 110px;
    }
  }
}


.home_content {
  padding: 16px;
}

.borders {
  width: 100%;
  margin: 8px 0;
  height: 1px;
  background-color: var(--color-gray-light);
}

.scholar {
  padding: 8px 0;
  font-weight: 600;

  h3 {
    padding-bottom: 8px;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.scholar_header {
  display: flex;
  justify-content: space-between;

  a {
    color: var(--color-green-light);
  }
}

.enroll {
  padding: 8px 0;
  font-weight: 600;

  h3 {
    padding-bottom: 8px;
    font-size: 1.6rem;
    font-weight: 600;
  }

  .enroll_list {
    display: flex;
    align-items: center;
    padding: 8px 0;

    .enroll_item {
      display: flex;
      justify-content: center;
      width: 25%;
      margin-right: 8px;
      overflow: hidden;
      border-radius: 3px;

      &:last-child {
        margin-right: 0;
      }
    }
    img {
      height: 90px;
    }
  }

  .uni_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    h2 {
      font-weight: 600;
    }
  
    h5 {
      font-size: 1.2rem;
      color: var(--color-white-smoke);
    }
  }

  .uni_city_info { color: var(--color-white-smoke) }
}

.enroll_header {
  display: flex;
  justify-content: space-between;

  a {
    color: var(--color-green-light);
  }
}

.announcement {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 8px 16px;
  background-color: var(--color-orange-light);
  border-radius: 3px;

  font-size: 1.2rem;
  line-height: 1.4rem;

  .announce_img {
    padding-right: 8px;
    img {
      width: 22px;
    }
  }
}