@import 'utils/styles/colors';

.form_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 8px;
}

.input_form {
  width: 100%;
  border: none;
}

.button_filter {
  width: 24px;
  height: 24px;
  padding: 4px;
  background: url('./assets/icon-sort-filters.svg') no-repeat center;
}

.advanced {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.pop_block {
  position: relative;
  z-index: 5;
  min-height: 100%;
  opacity: 0.3;
  background-color: var(--color-blue-light);
}

.adv_content {
  position: absolute;
  top: 100px;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  box-shadow: 0 4px 8px 4px rgba(0,0,0,0.15);
}

.content_wrap {
  padding: 8px 16px;
}

.fs_header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: solid 1px var(--color-gray-light);
  
  h3 {
    font-weight: 600;
  }
  a {
    color: var(--color-green-light);
    text-decoration: underline;
  }
}

.fs_sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: solid 1px var(--color-gray-light);

  h4 {}

  .dropdown {
    display: flex;
    justify-content: space-between;
    min-width: 234px;
    width: 70%;
    padding: 8px;
    border: solid 1px var(--color-gray-light);
  }

  .sort_options {
    border: solid 1px var(--color-gray-light);
    border-top: none;
    li {
      padding: 8px;

      &:hover {
        background-color: var(--color-gray-lighter);
      }
    }
  }
}

.expense {
  padding: 12px 0;
  border-bottom: solid 1px var(--color-gray-light);
}

.rating_dd {
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding: 8px;
  border: solid 1px var(--color-gray-light);
}

.stars_rating {
  display: flex;
  align-items: center;

  img {
    height: 12px;
  }
}


.trigger_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: solid 1px var(--color-gray-light);

  .chevron_right {
    background: url('./assets/icon-arrow-right.svg') no-repeat center;
    width: 12px;
    height: 12px;
  }
}

.apply_wrap {
  text-align: center;
  padding: 16px 0;

  button {
    width: 100%;
    border-radius: 20px;
    background-color: var(--color-blue-light);
    color: var(--color-white);
    font-size: 1.6rem;
    padding: 12px;

    &:active {
      background-color: var(--color-green-light);
    }
  }
}


.selector_header {
  display: flex;
  align-items: center;

  button {
    display: inline-flex;
    padding-right: 16px;
  }

  h2 {
    font-weight: 300;
  }
}

.suggestion {
  position: absolute;
  top: 45px;
  background-color: var(--color-white);
  width: 100%;
  left: 0;
  padding: 0 8px;
}
.suggest_item {
  padding: 8px;
  border-bottom: solid 1px var(--color-gray-light);
}