@import 'utils/styles/colors';

.detail_university {
  
}

.cover {
  display: flex;
  align-items: center;
  max-height: 224px;
  position: relative;
  margin-bottom: 8px;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .icons {
    padding: 12px 16px;;

    img {
      width: 20px;
    }
  }
}

.content_info {
  padding: 8px 16px;

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    padding: 6px 0;
  }
}

.international {
  font-size: 1rem;
  color: var(--color-blue-light);
  font-weight: 600;
  text-transform: uppercase;
}

.accredited {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;

  h4 {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.stars_rating {
  display: flex;
  align-items: center;

  img {
    height: 12px;
  }
  span {
    font-weight: 600;
    font-size: 1.4rem;
    padding-left:4px;
    line-height: 1.2rem;
  }
}

.contact_detail {
  padding: 6px 0;

  .contact_row {
    display: flex;
    align-items: flex-start;
    padding-bottom: 4px;

    &:last-child {
      padding-bottom: 0;
    }

    .contact_icon {
      width: 24px;
      padding-top: 2px;
    }
  }
}

.announcement {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 8px 16px;
  background-color: var(--color-orange-light);
  border-radius: 3px;

  font-size: 1.2rem;
  line-height: 1.4rem;

  .announce_img {
    padding-right: 8px;
    img {
      width: 22px;
    }
  }
}

.others {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;

  a {
    color: var(--color-green-light);
    font-weight: 600;
  }
}

.borders {
  width: 100%;
  margin: 8px 0;
  height: 1px;
  background-color: var(--color-gray-light);
}

.faculties {
  padding: 8px 0;

  h3 {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.fac_tabs {
  padding: 8px 0;

  button {
    display: inline-block;
    margin-right: 8px;
    padding: 4px 12px;
    border-radius: 12px;
    border: solid 1px var(--color-gray-light);
  }
  .active {
    background-color: var(--color-green-light);
    color: var(--color-white);
  }
}

.fac_categories {
  padding: 8px 0;

  h4 {
    font-weight: 600; 
  }

  ul {
    margin: 0 16px 8px;
    list-style: disc;

    &:last-child {
      margin: 0 16px;
    }
  }
}

.facilities {
  padding: 8px 0;
  h3 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  ul {
    margin: 0 16px;
    list-style: disc;
  }
}

.scholar {
  padding: 8px 0;
  font-weight: 600;

  h3 {
    padding-bottom: 8px;
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .scholar_row {
    display: flex;
    align-items: flex-start;
    padding: 4px 0;
  }
  .scholar_img {
    padding-right: 8px;
    width: 30%;
    min-width: 108px;

    img {
      width: 100%;
    }
  }
}

.album {
  padding: 8px 0;

  h3 {
    padding-bottom: 8px;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.galleries {
  display: flex;

  .thumbnail {
    width: calc(50% - 8px);
    padding-right: 8px;

    img {
      width: 100%;
      border-radius: 3px;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    .gallery_item {
      width: 50%;
      padding-right: 8px;

      &:last-child {
        padding-right: 0;
      }
      img {
        width: 100%;
        border-radius: 3px;
      }
    }
  }
}

.reviews {
  padding: 8px 0;

  h3 {
    padding: 8px 0;
    font-size: 1.6rem;
    font-weight: 600;
  }
  h4 {
    color: var(--color-white-smoke);
    padding-bottom: 12px;
  }
}

.input_review {
  display: flex;
  align-items: center;
  background-color: var(--color-gray-lighter);
  padding: 8px;
  border-radius: 3px;

  img {
    height: 16px;
    padding-right: 8px;
  }
  input {
    border: none;
    width: 100%;
    background-color: var(--color-gray-lighter);
  }
}

.review_list {
  padding: 8px 0;
}

.review_row {
  display: flex;
  padding: 8px 0;

  img {
    height: 40px;
    padding-right: 8px;
    border-radius: 3px;
  }

  .review_wrap {
    width: calc(100% - 48px);
    .username {
      font-weight: 600;
    }
    .review_rating {
      display: flex;
      justify-content: space-between;
      color: var(--color-white-smoke);

      .rating_number {
        font-weight: 600;
        color: var(--color-black);
      }
    }
    .review_content {
      padding: 8px 0;
    }
  }
}