@import 'utils/styles/colors';

.header {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: var(--color-white);
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.05);

  h3 {
    font-weight: 600;
  }
}

.icon_navigator {
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 8px;
  img {
    width: 14px;
    height: 14px;
  }
}