@import 'utils/styles/colors';

.detail_scho {
  
}

.header {

}

.cover {
  display: flex;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.content_scho {
  padding: 16px;
}

.title {
  font-size: 1.2rem;
  color: var(--color-white-smoke);
  font-weight: 600;
  text-transform: uppercase;
}

.content {
  padding: 8px 0;
}