@import 'utils/styles/colors';

.home_header {
  display: flex;
  align-items: center;

  .menu {
    padding: 16px 0 16px 16px;
    div {
      width: 24px;
      height: 2px;
      background-color: var(--color-green-light);
      margin: 5px 0;
    }
  }

  .search_wrap {
    width: 100%;
  }
}