:root {
  --color-red: #df4848;
  --color-blue-light: #467EAB;
  --color-blue-lighter: #D0DBE8;
  --color-white: #FFFFFF;
  --color-white-smoke: #8491A3;;
  --color-gray-light: #E0E6ED;
  --color-gray-lighter: #EFF3F8;
  --color-orange-light: #FBE5C4;
  --color-black: #333333;;
  --color-green-light: #60B2A4;
}
