:global {
  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
  }
  body {
    margin: 0;
    touch-action: manipulation
  }
  // h1 {
  //   margin: .67em 0;
  //   font-size: 2em;
  // }
  // hr {
  //   overflow: visible;
  //   box-sizing: content-box;
  //   height: 0;
  // }
  // pre {
  //   font-size: 1em;
  //   font-family: monospace, monospace;
  // }
  // a {
  //   background-color: transparent;
  //   outline: none;
  // }
  // abbr[title] {
  //   border-bottom: none;
  //   text-decoration: underline;
  //   text-decoration: underline dotted
  // }
  // b,
  // strong {
  //   font-weight: bolder
  // }
  // code,
  // kbd,
  // samp {
  //   font-size: 1em;
  //   font-family: monospace, monospace;
  // }
  // small {
  //   font-size: 80%
  // }
  // sub,
  // sup {
  //   position: relative;
  //   vertical-align: baseline;
  //   font-size: 75%;
  //   line-height: 0;
  // }
  // sub {
  //   bottom: -.25em
  // }
  // sup {
  //   top: -.5em
  // }
  // img {
  //   border-style: none
  // }
  // button,
  // input,
  // optgroup,
  // select,
  // textarea {
  //   margin: 0;
  //   outline: none;
  //   font-size: 100%;
  //   font-family: inherit;
  //   line-height: 1.15;
  // }
  // button,
  // input {
  //   overflow: visible
  // }
  // button,
  // select {
  //   text-transform: none
  // }
  // [type=button],
  // [type=reset],
  // [type=submit],
  // button {
  //   -webkit-appearance: button
  // }
  // [type=button]::-moz-focus-inner,
  // [type=reset]::-moz-focus-inner,
  // [type=submit]::-moz-focus-inner,
  // button::-moz-focus-inner {
  //   padding: 0;
  //   border-style: none;
  // }
  // [type=button]:-moz-focusring,
  // [type=reset]:-moz-focusring,
  // [type=submit]:-moz-focusring,
  // button:-moz-focusring {
  //   outline: 1px dotted ButtonText
  // }
  // fieldset {
  //   padding: .35em .75em .625em
  // }
  // legend {
  //   display: table;
  //   box-sizing: border-box;
  //   padding: 0;
  //   max-width: 100%;
  //   color: inherit;
  //   white-space: normal
  // }
  // progress {
  //   vertical-align: baseline
  // }
  // textarea {
  //   overflow: auto
  // }
  // [type=checkbox],
  // [type=radio] {
  //   box-sizing: border-box;
  //   padding: 0
  // }
  // [type=number]::-webkit-inner-spin-button,
  // [type=number]::-webkit-outer-spin-button {
  //   height: auto
  // }
  // [type=search] {
  //   outline-offset: -2px;
  //   -webkit-appearance: textfield;
  // }
  // [type=search]::-webkit-search-decoration {
  //   -webkit-appearance: none
  // }
  //  ::-webkit-file-upload-button {
  //   font: inherit;
  //   -webkit-appearance: button;
  // }
  // details {
  //   display: block
  // }
  // summary {
  //   display: list-item
  // }
  // template {
  //   display: none
  // }
  // [hidden] {
  //   display: none
  // }
  // a,
  // abbr,
  // acronym,
  // address,
  // applet,
  // article,
  // aside,
  // audio,
  // b,
  // big,
  // blockquote,
  // body,
  // canvas,
  // caption,
  // center,
  // cite,
  // code,
  // dd,
  // del,
  // details,
  // dfn,
  // div,
  // dl,
  // dt,
  // em,
  // embed,
  // fieldset,
  // figcaption,
  // figure,
  // footer,
  // form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    // font: inherit;
  }
  // article,
  // aside,
  // details,
  // figcaption,
  // figure,
  // footer,
  // header,
  // hgroup,
  // menu,
  // nav,
  // section {
  //   display: block
  // }
  // body {
  //   line-height: 1
  // }
  // ol,
  // ul {
  //   list-style: none
  // }
  // blockquote,
  // q {
  //   quotes: none
  // }
  // blockquote:after,
  // blockquote:before,
  // q:after,
  // q:before {
  //   content: '';
  //   content: none
  // }
  // table {
  //   border-spacing: 0;
  //   border-collapse: collapse;
  // }
  button {
    padding: 0;
    border: none;
    background: none;
  }
}